<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" />
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="../public/styles/main.css" /> -->
  <script src="http://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="/scripts/app.js"></script>
 
</head>
<body>
  <section class="games">
		<div class="container-fluid">
      <h1 class="text-center">Langdons Most Recent Video Games</h1>
      <div class="row">
        <div class="col-md-12">
          <form class="form-inline" id="newGameForm">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" name="title" placeholder="Game title">
            </div>
            <div class="form-group">
              <label for="title">Game Type</label>
              <input type="text" class="form-control" name="type" placeholder="Type of Game">
            </div>
            <div class="form-group">
              <label for="title">Developer</label>
              <input type="text" class="form-control" name="developer" placeholder="Developer Name">
            </div>
            <div class="form-group">
              <label for="title">Hours Played</label>
              <input type="text" class="form-control" name="hoursPlayed" placeholder="Hours Played">
            </div>
            <div class="form-group">
                <label for="title">Image URL</label>
                <input type="text" class="form-control" name="image" placeholder="Image URL">
            </div>
            <button type="submit" class="btn btn-default">Add Game</button>
          </form>
        </div>
      </div>
    </div>
    <div id='gameTarget' class="card-deck container-fluid">
              
    </div>

	</section>
</body>
</html>

